.container {
    padding: 6px;
    background-color: #f1f8ff;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #c8e1ff;
}

.table th, .table td {
    text-align: center;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #c8e1ff;
}
